.wrapper{
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.block{
  margin: 20px auto;
  border: 1px solid currentColor;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  h4{
    width: 100%;
  }
}

.item{
  width: 100px;
  margin: 12px;
  div{
    background-color: coral;
    width: 80px;
    height: 80px;
    &::before{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: greenyellow;
      border-radius: 50%;
      position: relative;
      left: calc(50% - 5px);
      top: 8px;
    }
  }
  p{
    margin-top: 12px;
  }
}
